<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>AgroAID</title>
</head>

<body>
<div style="
            background-color: #232323;
            margin: 0px;
            height:100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            "
>

    <main class="container center">

        <a href="https://cdn.discordapp.com/attachments/946468431794954250/1174081955701215342/Logo_HealHub_png.png?ex=65664c07&is=6553d707&hm=9538a883cb1254db2bb48e1b9cb01ac407e51f97aba9a3b000b1262852a645ca&">
            <img src="https://cdn.discordapp.com/attachments/946468431794954250/1174081955701215342/Logo_HealHub_png.png?ex=65664c07&is=6553d707&hm=9538a883cb1254db2bb48e1b9cb01ac407e51f97aba9a3b000b1262852a645ca&" alt="Logo HealHub">
        </a>

        <p style="color: #dedede">Navegando pela Saúde, Agendando o Futuro</p>

        <ul>
            <li>
                <a href="/oauth2/authorization/google" class="btn" style="background-color: #678362">
                    <i class="material-icons left">check</i>
                    Entrar com Google
                </a>
            </li>
            <br>
            <li>
                <a href="/oauth2/authorization/github" class="btn" style="background-color: #678362">
                    <i class="material-icons left">check</i>
                    entrar com GitHub
                </a>
            </li>
        </ul>




    </main>


</body>
</html>